<h1>Koborger</h1>
<hr>
<div>
  <app-layer layerWidth="500" layerHeight="35" layer="bread"></app-layer>

  <app-layer 
  *ngFor="let dummy of ' '.repeat(calcAmount('Tomato')).split(''), let x = index" 
  layerWidth="500" 
  layerHeight="5"
    layer="tomato">
  </app-layer>

  <app-layer *ngFor="let dummy of ' '.repeat(calcAmount('Salad')).split(''), let x = index" layerWidth="500" layerHeight="5"
    layer="salad"></app-layer>
  <app-layer *ngFor="let dummy of ' '.repeat(calcAmount('Cheese')).split(''), let x = index" layerWidth="500" layerHeight="10"
    layer="cheese"></app-layer>
  <app-layer *ngFor="let dummy of ' '.repeat(calcAmount('Meat')).split(''), let x = index" layerWidth="500" layerHeight="25"
    layer="meat"></app-layer>
  <app-layer layerWidth="500" layerHeight="35" layer="bread"></app-layer>

</div>

<p>Current Price : {{totalPrice() | number}}</p>
<app-item itemName='Tomato' (lessClicked)='lessTomato($event)' (moreClicked)='moreTomato($event)'></app-item>
<app-item itemName='Salad' (lessClicked)='lessSalad($event)' (moreClicked)='moreSalad($event)'></app-item>
<app-item itemName='Cheese'  (lessClicked)='lessCheese($event)' (moreClicked)='moreCheese($event)'></app-item>
<app-item itemName='Meat' (lessClicked)='lessMeat($event)' (moreClicked)='moreMeat($event)'></app-item>